@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;600;800&family=Roboto+Mono:ital,wght@0,200;0,400;0,600;1,400&family=Work+Sans:wght@300;400;600;800&display=swap');

:root{

}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Inconsolata', monospace;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.6rem;
    text-rendering: optimizeSpeed  ;
}